<mat-card class="container" appearance="raised">
  <mat-card-header>
    <mat-card-title>Revelação dos Papéis</mat-card-title>
  </mat-card-header>
  
  <mat-card-content *ngFor="let player of players">
    <br>
    <mat-card appearance="raised">
      <mat-card-header>
        <mat-card-title>Jogador: {{player.name}}</mat-card-title>
      </mat-card-header>
      
      <mat-card-content *ngIf="player.isImpostor && player.show">Você é o <b>Impostor</b></mat-card-content>
      <mat-card-content *ngIf="!player.isImpostor && player.show">A palavra para desenhar é: <b>{{player.draft}}</b></mat-card-content>
      <button mat-fab color="" extended *ngIf="!player.show" (click)="showRole(player.name)">Revelar Papel</button>
      <button mat-fab color="" extended *ngIf="player.show" (click)="hideRole(player.name)">Esconder Papel</button>
    </mat-card>
  </mat-card-content>
</mat-card>

<br>
<br>
<br>
<br>
<br>

<!-- <a class="draft-button" mat-fab extended color="" (click)="routeToConfig()">
  <mat-icon>refresh</mat-icon>
  Desenhar
</a> -->
<a class="free-draft-button" mat-fab extended color="" (click)="routeToFreeDraft()">
  <mat-icon>refresh</mat-icon>
  Desenho Livre
</a>
<a class="refresh-button" mat-fab extended color="" (click)="routeToConfig()">
  <mat-icon>refresh</mat-icon>
  Novo Jogo
</a>