button {
    margin: 10px;
}

.free-draft-button {
    position: fixed;
    top: 73vh;
    right: 5vw;
    z-index: 9999;
}

.refresh-button {
    position: fixed;
    top: 80vh;
    right: 5vw;
    z-index: 9999;
}